.book {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
}
.info {
    margin-right: 20px;
}
.title {
    font-size: 19px;
    font-weight: bold;
}
.author {

}
.btn {
    height: 30px;
    width: 75px;
}